node_modules
dist
out
.DS_Store
.eslintcache
*.log*

# Ignore Claude Code Local Settings
# https://docs.anthropic.com/en/docs/claude-code/settings#settings-files
.claude/settings.local.json

# Ignore Serena ouput files except project.yml
# @see https://github.com/oraios/serena
.serena/*
!.serena/project.yml
